<div class="container"></div>
<footer class="wrapper">
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <ul>
      </ul>
    </div>
    <div class="ft-main-item">
      <ul>
      </ul>
    </div>
    <div class="ft-main-item">
      <ul>
      </ul>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      {%- include social.html -%}
    </ul>
  </section>

  <!-- Footer legal -->
  <section>
    <ul class="ft-legal-list black-link">
      <li><a class="black-link" href="/about">about</a></li>
      <li><a class="black-link" href="/impressum">legal notice</a></li>
      <li>&copy; 2020 Copyright {{site.author}}</li>
    </ul>
  </section>
</footer>