@charset "utf-8";

// Define defaults for each variable.

$fas_size: 5x;

$base-font-family: "Bitter", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", "Bitter", sans-serif;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.8 !default;
$small-line-height: 1.6 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$table-text-align: left !default;

// Width of the content area
// https://socialtriggers.com/perfect-content-width/

$content-width: 600px !default;

// https://css-tricks.com/naming-media-queries/#comment-437419

$wrist: 200px !default;
$palm: 480px !default;
$lap: 600px !default;
$desk: 960px !default;
//$wall: 960px !default;

$on-medium: $palm !default;
$on-large: $lap !default;


@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

/*
https://css-tricks.com/snippets/css/fluid-typography/
used to size typography based on content width
*/
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
                        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
                );
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

/*
*https://css-tricks.com/naming-media-queries/#comment-437419
*/
// use:
// @include at-least($lap) {
//    background: orange;
//   &:before { content: "screen is >= #{$phone}"; }
//  }

@mixin at-least($device-width) {
    @media screen and (min-width: $device-width) {
        @content;
    }
}

@mixin until($device-width) {
    @media screen and (max-width: $device-width - 1) {
        @content;
    }
}
// Import partials.
@import "ashjawik/base", "ashjawik/footer", "ashjawik/layout";
