/**
 * About Page
 */
.about-page {
    display: inline-block;

    .about-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .about-avatar {
            padding: 1px;
            border: 1px solid $grey-color-light;
            width: 10rem;
            height: 10rem;
            margin: 0 2rem 0 0;
        }

        .about-info {
            align-self: center;

            .about-your-name {
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                font-size: 1.3em;
            }

            .about-description {
                margin-top: -0.3rem;
                color: lighten($text-color, 25%);
                font-size: 1em
            }
        }
    }

    .about-content {
        margin-top: 2rem;
    }
}
